body{
  background-color: #9EA8DB; 
}
h1,p{
  text-align:center;
  color: #343B66;
}
.container{
  display:flex;
  background-color: #5A64C7;
  width:1040px;
  margin:20px auto; 
  justify-content: center; 
}

.container div{
  background-color: #465AC7;
  margin: 10px;
  padding: 20px;
  font-size: 24px;
  text-align: center;
}

#main-footer{
  
  background: #919ACC;
  color:white;
  text-align:center;
  padding:2rem;
  margin-top:2rem;
}
.social{
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;

}
.social a{
 display: inline-flex;
 align-items: center;
 justify-content: center;
 width: 50px;
 height: 50px;
 background: #9EA8DB;
 color:#919ACC;
 border-radius: 50%;
 text-decoration: none;
 font-size:1.5rem;
}